In [2]:
import time
import random
import tweepy
import pandas as pd

In [3]:
client = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAAIEYAEAAAAAd%2BjH%2FJwZ5V%2BCEsJzVXZ83029Ibs%3DXlvIyu30iQJzxikp6AbikMliagtSS3MJHp0ywmdtNPKLP9Cu7P', 
                       consumer_key='DdRyFEKfg4Ql7YIXDIY0x681y', 
                       consumer_secret='JpoNeGjFh5S7XtYoMhIqACtyHLpDSqYJXfHd1F47LhKNrW1WoG', 
                       access_token='1467321676069150721-jtC2MshkyOGBuSF1gxEGSrgdQWfuuS', 
                       access_token_secret='Gdyl1SYutFiZQ325ZlYN2xpean5VfB2y7c3l3TQYq71fB', 
                       wait_on_rate_limit=True)

In [4]:
def gettweettext(tweet_id_lists):
    #This function should take a list of tweet ids, get the text from Twitter
    # and save the resulting text as a tuple of tweet id, tweet text.
    output_list = []
    for i in tweet_id_lists:
        tweet = client.get_tweet(i)
        tweet_id = i
        tweet_tuple = (tweet_id, str(tweet.data)) 
        output_list.append(tweet_tuple)
    return output_list

In [5]:
gettweettext([789250597526446080])

[(789250597526446080,
  'Maestra de yoga acusa a Donald Trump de tocarla de manera inapropiada https://t.co/xyZDKttc6I https://t.co/SPT6GiIWoc')]

In [11]:
# Getting the tweets for 2016related tweets
election2016df = pd.read_csv('Data/election-filter6.txt')
election2016df

                   tweet_id
0        789250598268837889
1        789250597526446080
2        789250598239670273
3        789250597266546688
4        789250597841084417
...                     ...
1376584  789425344386207744
1376585  789425345174773760
1376586  789425345661399044
1376587  789425345443291136
1376588  789425345199951872

[1376589 rows x 1 columns]

In [12]:
test = tweepy.Client(bearer_token='AAAAAAAAAAAAAAAAAAAAAAIEYAEAAAAAd%2BjH%2FJwZ5V%2BCEsJzVXZ83029Ibs%3DXlvIyu30iQJzxikp6AbikMliagtSS3MJHp0ywmdtNPKLP9Cu7P', 
                       consumer_key='DdRyFEKfg4Ql7YIXDIY0x681y', 
                       consumer_secret='JpoNeGjFh5S7XtYoMhIqACtyHLpDSqYJXfHd1F47LhKNrW1WoG', 
                       access_token='1467321676069150721-jtC2MshkyOGBuSF1gxEGSrgdQWfuuS', 
                       access_token_secret='Gdyl1SYutFiZQ325ZlYN2xpean5VfB2y7c3l3TQYq71fB', 
                       wait_on_rate_limit=False)

In [13]:
def gettweettest(list):
    output_list = []
    for i in list:
            tweet = test.get_tweet(i)
            tweet_id = i
            tweet_tuple = (tweet_id, str(tweet.data)) 
            test_list.append(tweet_tuple)
    return 'Done'

In [17]:
dummydf = pd.DataFrame()
dummydf

Empty DataFrame
Columns: []
Index: []

In [58]:
# Note! Make sure to load your saved DF before running this function!

def tweetrehydrate2016(source_df, save_df):
    alreadygotitlist = save_df.tweet_id.tolist()
    working_df = source_df[~source_df.tweet_id.isin(alreadygotitlist)] 
    sample = working_df.tweet_id.sample(n = 300, replace = False, random_state= 14)
    id_list = sample.to_list()
    hydro_df = save_df
    tweet_tuple_list=[]
    for i in id_list:
        tweet = test.get_tweet(i)
        tid = i
        tweet_tuple_list.append(({'tweet_id': tid,'tweet_text': str(tweet.data)}))  
    hydro_df = hydro_df.append(tweet_tuple_list, ignore_index=True)
    hydro_df.to_csv('tweets_2016')

In [85]:
hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

tweetrehydrate2016(election2016df, hydrated_2016df)

In [83]:
hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

In [84]:
hydrated_2016df

           tweet_id                                         tweet_text
0      7.892854e+17  RT @ReaganBattalion: Obama hates @marcorubio b...
1      7.894080e+17                                               None
2      7.893299e+17  RT @lopezdoriga: EN DIRECTO en #Periscope: La ...
3      7.893246e+17  RT @wikileaks: There is no US election. There ...
4      7.893512e+17                                               None
...             ...                                                ...
23360  7.892803e+17  RT @DiLiLaura: @dcexaminer Trump was GREAT.......
23361  7.892616e+17  RT @Gleb_Tsipursky: #Trump Parkinson's Law of ...
23362  7.892780e+17  RT @JoyAnnReid: Clinton: hard to keep up with ...
23363  7.893104e+17                                               None
23364  7.893053e+17  RT @KEEMSTAR: Proof Hilary is rigging the elec...

[23362 rows x 2 columns]

In [63]:
def run_function_15_mins_election2016(hours):
    i = hours*4
    while i > 0:
        time.sleep(60*15.1)
        print("Timer up, begin hydrating")
        hydrated_2016df = pd.read_csv('tweets_2016')
        l = ['tweet_id', 'tweet_text']
        hydrated_2016df = hydrated_2016df[l]
        tweetrehydrate2016(election2016df, hydrated_2016df)
        print("I think I have looped" )
        hydrated_2016df = pd.read_csv('tweets_2016')
        l = ['tweet_id', 'tweet_text']
        hydrated_2016df = hydrated_2016df[l]
        print(hydrated_2016df.info())
        i -= 1
        print(i)
    print('Done.')
    return "Done!"

In [86]:
run_function_15_mins_election2016(18)

hydrated_2016df = pd.read_csv('tweets_2016')

l = ['tweet_id', 'tweet_text']

hydrated_2016df = hydrated_2016df[l]

hydrated_2016df.drop_duplicates(subset='tweet_id', keep='first', inplace=True)

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23962 entries, 0 to 23961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    23962 non-null  float64
 1   tweet_text  23962 non-null  object
dtypes: float64(1), object(1)
memory usage: 374.5+ KB
None
71
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24262 entries, 0 to 24261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    24262 non-null  float64
 1   tweet_text  24262 non-null  object
dtypes: float64(1), object(1)
memory usage: 379.2+ KB
None
70
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24562 entries, 0 to 24561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    24562 non-null  float64
 1   tweet_text  24562 non-null  object
dtypes: float64(1), object(1)
memory usage: 383.9+ KB
None
69
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24862 entries, 0 to 24861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    24862 non-null  float64
 1   tweet_text  24862 non-null  object
dtypes: float64(1), object(1)
memory usage: 388.6+ KB
None
68
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25162 entries, 0 to 25161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    25162 non-null  float64
 1   tweet_text  25162 non-null  object
dtypes: float64(1), object(1)
memory usage: 393.3+ KB
None
67
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25462 entries, 0 to 25461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    25462 non-null  float64
 1   tweet_text  25462 non-null  object
dtypes: float64(1), object(1)
memory usage: 398.0+ KB
None
66
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25762 entries, 0 to 25761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    25762 non-null  float64
 1   tweet_text  25762 non-null  object
dtypes: float64(1), object(1)
memory usage: 402.7+ KB
None
65
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26062 entries, 0 to 26061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    26062 non-null  float64
 1   tweet_text  26062 non-null  object
dtypes: float64(1), object(1)
memory usage: 407.3+ KB
None
64
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26362 entries, 0 to 26361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    26362 non-null  float64
 1   tweet_text  26362 non-null  object
dtypes: float64(1), object(1)
memory usage: 412.0+ KB
None
63
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26662 entries, 0 to 26661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    26662 non-null  float64
 1   tweet_text  26662 non-null  object
dtypes: float64(1), object(1)
memory usage: 416.7+ KB
None
62
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26962 entries, 0 to 26961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    26962 non-null  float64
 1   tweet_text  26962 non-null  object
dtypes: float64(1), object(1)
memory usage: 421.4+ KB
None
61
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27262 entries, 0 to 27261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    27262 non-null  float64
 1   tweet_text  27262 non-null  object
dtypes: float64(1), object(1)
memory usage: 426.1+ KB
None
60
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27562 entries, 0 to 27561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    27562 non-null  float64
 1   tweet_text  27562 non-null  object
dtypes: float64(1), object(1)
memory usage: 430.8+ KB
None
59
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27862 entries, 0 to 27861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    27862 non-null  float64
 1   tweet_text  27862 non-null  object
dtypes: float64(1), object(1)
memory usage: 435.5+ KB
None
58
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28162 entries, 0 to 28161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    28162 non-null  float64
 1   tweet_text  28162 non-null  object
dtypes: float64(1), object(1)
memory usage: 440.2+ KB
None
57
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28462 entries, 0 to 28461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    28462 non-null  float64
 1   tweet_text  28462 non-null  object
dtypes: float64(1), object(1)
memory usage: 444.8+ KB
None
56
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28762 entries, 0 to 28761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    28762 non-null  float64
 1   tweet_text  28762 non-null  object
dtypes: float64(1), object(1)
memory usage: 449.5+ KB
None
55
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29062 entries, 0 to 29061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    29062 non-null  float64
 1   tweet_text  29062 non-null  object
dtypes: float64(1), object(1)
memory usage: 454.2+ KB
None
54
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29362 entries, 0 to 29361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    29362 non-null  float64
 1   tweet_text  29362 non-null  object
dtypes: float64(1), object(1)
memory usage: 458.9+ KB
None
53
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29662 entries, 0 to 29661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    29662 non-null  float64
 1   tweet_text  29662 non-null  object
dtypes: float64(1), object(1)
memory usage: 463.6+ KB
None
52
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29962 entries, 0 to 29961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    29962 non-null  float64
 1   tweet_text  29962 non-null  object
dtypes: float64(1), object(1)
memory usage: 468.3+ KB
None
51
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30262 entries, 0 to 30261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    30262 non-null  float64
 1   tweet_text  30262 non-null  object
dtypes: float64(1), object(1)
memory usage: 473.0+ KB
None
50

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30562 entries, 0 to 30561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    30562 non-null  float64
 1   tweet_text  30562 non-null  object
dtypes: float64(1), object(1)
memory usage: 477.7+ KB
None
49
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30862 entries, 0 to 30861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    30862 non-null  float64
 1   tweet_text  30862 non-null  object
dtypes: float64(1), object(1)
memory usage: 482.3+ KB
None
48
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31162 entries, 0 to 31161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    31162 non-null  float64
 1   tweet_text  31162 non-null  object
dtypes: float64(1), object(1)
memory usage: 487.0+ KB
None
47
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31462 entries, 0 to 31461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    31462 non-null  float64
 1   tweet_text  31462 non-null  object
dtypes: float64(1), object(1)
memory usage: 491.7+ KB
None
46
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31762 entries, 0 to 31761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    31762 non-null  float64
 1   tweet_text  31762 non-null  object
dtypes: float64(1), object(1)
memory usage: 496.4+ KB
None
45
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32062 entries, 0 to 32061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    32062 non-null  float64
 1   tweet_text  32062 non-null  object
dtypes: float64(1), object(1)
memory usage: 501.1+ KB
None
44
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32362 entries, 0 to 32361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    32362 non-null  float64
 1   tweet_text  32362 non-null  object
dtypes: float64(1), object(1)
memory usage: 505.8+ KB
None
43
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32662 entries, 0 to 32661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    32662 non-null  float64
 1   tweet_text  32662 non-null  object
dtypes: float64(1), object(1)
memory usage: 510.5+ KB
None
42
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32962 entries, 0 to 32961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    32962 non-null  float64
 1   tweet_text  32962 non-null  object
dtypes: float64(1), object(1)
memory usage: 515.2+ KB
None
41
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33262 entries, 0 to 33261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    33262 non-null  float64
 1   tweet_text  33262 non-null  object
dtypes: float64(1), object(1)
memory usage: 519.8+ KB
None
40
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33562 entries, 0 to 33561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    33562 non-null  float64
 1   tweet_text  33562 non-null  object
dtypes: float64(1), object(1)
memory usage: 524.5+ KB
None
39
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33862 entries, 0 to 33861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    33862 non-null  float64
 1   tweet_text  33862 non-null  object
dtypes: float64(1), object(1)
memory usage: 529.2+ KB
None
38
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34162 entries, 0 to 34161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    34162 non-null  float64
 1   tweet_text  34162 non-null  object
dtypes: float64(1), object(1)
memory usage: 533.9+ KB
None
37
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34462 entries, 0 to 34461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    34462 non-null  float64
 1   tweet_text  34462 non-null  object
dtypes: float64(1), object(1)
memory usage: 538.6+ KB
None
36
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34762 entries, 0 to 34761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    34762 non-null  float64
 1   tweet_text  34762 non-null  object
dtypes: float64(1), object(1)
memory usage: 543.3+ KB
None
35
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35062 entries, 0 to 35061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    35062 non-null  float64
 1   tweet_text  35062 non-null  object
dtypes: float64(1), object(1)
memory usage: 548.0+ KB
None
34
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35362 entries, 0 to 35361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    35362 non-null  float64
 1   tweet_text  35362 non-null  object
dtypes: float64(1), object(1)
memory usage: 552.7+ KB
None
33
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35662 entries, 0 to 35661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    35662 non-null  float64
 1   tweet_text  35662 non-null  object
dtypes: float64(1), object(1)
memory usage: 557.3+ KB
None
32
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35962 entries, 0 to 35961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    35962 non-null  float64
 1   tweet_text  35962 non-null  object
dtypes: float64(1), object(1)
memory usage: 562.0+ KB
None
31
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36262 entries, 0 to 36261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    36262 non-null  float64
 1   tweet_text  36262 non-null  object
dtypes: float64(1), object(1)
memory usage: 566.7+ KB
None
30
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36562 entries, 0 to 36561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    36562 non-null  float64
 1   tweet_text  36562 non-null  object
dtypes: float64(1), object(1)
memory usage: 571.4+ KB
None
29
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36862 entries, 0 to 36861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    36862 non-null  float64
 1   tweet_text  36862 non-null  object
dtypes: float64(1), object(1)
memory usage: 576.1+ KB
None
28

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37162 entries, 0 to 37161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    37162 non-null  float64
 1   tweet_text  37162 non-null  object
dtypes: float64(1), object(1)
memory usage: 580.8+ KB
None
27
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37462 entries, 0 to 37461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    37462 non-null  float64
 1   tweet_text  37462 non-null  object
dtypes: float64(1), object(1)
memory usage: 585.5+ KB
None
26
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37762 entries, 0 to 37761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    37762 non-null  float64
 1   tweet_text  37762 non-null  object
dtypes: float64(1), object(1)
memory usage: 590.2+ KB
None
25
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38062 entries, 0 to 38061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    38062 non-null  float64
 1   tweet_text  38062 non-null  object
dtypes: float64(1), object(1)
memory usage: 594.8+ KB
None
24
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38362 entries, 0 to 38361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    38362 non-null  float64
 1   tweet_text  38362 non-null  object
dtypes: float64(1), object(1)
memory usage: 599.5+ KB
None
23
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38662 entries, 0 to 38661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    38662 non-null  float64
 1   tweet_text  38662 non-null  object
dtypes: float64(1), object(1)
memory usage: 604.2+ KB
None
22
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38962 entries, 0 to 38961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    38962 non-null  float64
 1   tweet_text  38962 non-null  object
dtypes: float64(1), object(1)
memory usage: 608.9+ KB
None
21
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39262 entries, 0 to 39261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    39262 non-null  float64
 1   tweet_text  39262 non-null  object
dtypes: float64(1), object(1)
memory usage: 613.6+ KB
None
20
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39562 entries, 0 to 39561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    39562 non-null  float64
 1   tweet_text  39562 non-null  object
dtypes: float64(1), object(1)
memory usage: 618.3+ KB
None
19
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39862 entries, 0 to 39861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    39862 non-null  float64
 1   tweet_text  39862 non-null  object
dtypes: float64(1), object(1)
memory usage: 623.0+ KB
None
18
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40162 entries, 0 to 40161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    40162 non-null  float64
 1   tweet_text  40162 non-null  object
dtypes: float64(1), object(1)
memory usage: 627.7+ KB
None
17
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40462 entries, 0 to 40461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    40462 non-null  float64
 1   tweet_text  40462 non-null  object
dtypes: float64(1), object(1)
memory usage: 632.3+ KB
None
16
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40762 entries, 0 to 40761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    40762 non-null  float64
 1   tweet_text  40762 non-null  object
dtypes: float64(1), object(1)
memory usage: 637.0+ KB
None
15
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41062 entries, 0 to 41061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    41062 non-null  float64
 1   tweet_text  41062 non-null  object
dtypes: float64(1), object(1)
memory usage: 641.7+ KB
None
14
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41362 entries, 0 to 41361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    41362 non-null  float64
 1   tweet_text  41362 non-null  object
dtypes: float64(1), object(1)
memory usage: 646.4+ KB
None
13
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41662 entries, 0 to 41661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    41662 non-null  float64
 1   tweet_text  41662 non-null  object
dtypes: float64(1), object(1)
memory usage: 651.1+ KB
None
12
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41962 entries, 0 to 41961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    41962 non-null  float64
 1   tweet_text  41962 non-null  object
dtypes: float64(1), object(1)
memory usage: 655.8+ KB
None
11
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42262 entries, 0 to 42261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    42262 non-null  float64
 1   tweet_text  42262 non-null  object
dtypes: float64(1), object(1)
memory usage: 660.5+ KB
None
10
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42562 entries, 0 to 42561
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    42562 non-null  float64
 1   tweet_text  42562 non-null  object
dtypes: float64(1), object(1)
memory usage: 665.2+ KB
None
9
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42862 entries, 0 to 42861
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    42862 non-null  float64
 1   tweet_text  42862 non-null  object
dtypes: float64(1), object(1)
memory usage: 669.8+ KB
None
8
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43162 entries, 0 to 43161
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    43162 non-null  float64
 1   tweet_text  43162 non-null  object
dtypes: float64(1), object(1)
memory usage: 674.5+ KB
None
7
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43462 entries, 0 to 43461
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    43462 non-null  float64
 1   tweet_text  43462 non-null  object
dtypes: float64(1), object(1)
memory usage: 679.2+ KB
None
6

Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43762 entries, 0 to 43761
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    43762 non-null  float64
 1   tweet_text  43762 non-null  object
dtypes: float64(1), object(1)
memory usage: 683.9+ KB
None
5
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44062 entries, 0 to 44061
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    44062 non-null  float64
 1   tweet_text  44062 non-null  object
dtypes: float64(1), object(1)
memory usage: 688.6+ KB
None
4
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44362 entries, 0 to 44361
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    44362 non-null  float64
 1   tweet_text  44362 non-null  object
dtypes: float64(1), object(1)
memory usage: 693.3+ KB
None
3
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44662 entries, 0 to 44661
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    44662 non-null  float64
 1   tweet_text  44662 non-null  object
dtypes: float64(1), object(1)
memory usage: 698.0+ KB
None
2
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44962 entries, 0 to 44961
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    44962 non-null  float64
 1   tweet_text  44962 non-null  object
dtypes: float64(1), object(1)
memory usage: 702.7+ KB
None
1
Timer up, begin hydrating
I think I have looped
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45262 entries, 0 to 45261
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tweet_id    45262 non-null  float64
 1   tweet_text  45262 non-null  object
dtypes: float64(1), object(1)
memory usage: 707.3+ KB
None
0
Done.

Littman, Justin; Wrubel, Laura; Kerchner, Daniel, 2016, "2016 United States Presidential Election Tweet Ids", https://doi.org/10.7910/DVN/PDI7IN, Harvard Dataverse, V3